body {
  background-color: hsl(12, 39%, 35%);
  color: white;
  padding: 5rem;
}
h1 {
  font-weight: 4.5rem;
  background-color: green;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}
* {
  font-weight: 50rem;
}
.Registration-Form {
  display: flex;
  max-width: 40rem;
  min-height: 20rem;
  margin: auto;
  background-color: rgb(11, 24, 11);
  border-radius: 20px;
  padding: 25px;
}

.country,
.Gender {
  margin: 7px auto;
  text-align: center;
}
.col-12 {
  text-align: center;
}
.valid-feedback,
.invalid-feedback {
  display: none;
}
